.amount-box {
  display: flex;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 6px 10px;
  background: white;
}

.amount-prefix {
  font-weight: bold;
  font-size: 20px;
  margin-right: 6px;
  color: #444;
}

.amount-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}
